<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona głowna</h2>
        <p>Aplikacja internetowa służąca do prowadzenia wypożczalnia samochodów.         
            <br>Dzięki niej można przeglądać aktualnych klientów i ich wypożyczenia, edytować ich dane, a także usuwać z bazy.
            <br>To samo tyczy się pojazdów dostepnych w ofercie.
            <br>Dodatkowo możemy przegladac rezerwacje i tak samo edytowac, usuwac. 
        </p>
    </main>
<%- include('./fragments/footer.ejs') %>